.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
}
.encima h2 {
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}

.encima div {
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: rgb(218, 124, 124);
    margin: auto;
}
.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}